@font-face {
    font-family: 'blur3';
    src: url('../fonts/Gaussian\ Blur.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(226, 226, 226);
}

body{
    background: rgb(46,146,170);
    background: radial-gradient(circle, rgba(46,146,170,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 90%, rgba(46,146,170,1) 100%);
}

a{
    text-decoration: none;
}

p{
    font-family: 'blur3', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

ul,
ol {
    list-style: none;
}

hr {
    margin: 10px 20px;
    display: flex;
    align-self: center;
}

img {
    width: 100%;
}

video{
    width: 100%;
}

@mixin flexbox($display, $justify, $align){
    display:$display;
    justify-content:$justify;
    align-items:$align;
}

@keyframes mover-img{
    0%{
        transform: translatex(500px);
    }
    100%{
        transform: translatex(0px);
    }
}